html, body {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
  
.container {
    margin: 0 auto;
    max-width: 1400px; 
    padding: 0 10px;
}
  
.header {
    background: linear-gradient(to bottom, rgba(18, 46, 202, 0.52), rgba(7, 49, 104, 0.73)), url(../assets/spine.jpg) no-repeat center center; 
    background-size: cover;
    height: 600px;
    text-align: right; 
}

.header .container {
    position: relative;
    top: 200px;
}

.header h1 {
  color: #fff;
  line-height: 30px; 
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase; 
}

h3 {
  color: #fff;
  line-height: 25px;
  letter-spacing: 3px;
  font-size: 15px;
  margin-top: 150px;
  margin-bottom: 100px;
  margin-right: 20px;
  text-transform: uppercase;
}

@media (min-width:850px) {
  .header h1 {
    font-size: 100px;
  }
}

.header h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 14px;
  margin-bottom: 40px;
  margin-top: 0px;
  text-transform: uppercase; 
}

.nav { 
  background: #000;
  height: 80px; 
  width: 100%;
}

.nav ul {
  height: 80px;
  list-style: none;
  margin: 0 auto; 
  padding: 0;
}

.nav ul li {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 3px;
  display: inline-block; 
  height: 80px;
  line-height: 80px; 
  list-style: none;
  padding: 0 10px;
  transition: background .5s; 
}

.nav ul li:hover {
  background: #117bff;
  cursor: pointer; 
  transition: background .5s;  
}

.contact {
  background:rgb(20, 20, 20);
  height: 250px;
  width: 100%;
  display: flex;
  padding-top: 5%;
}

.contact h2 {
  color: #fff;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 2px;
  height: 75px;
  line-height: 25x; 
}

.map {
  background: rgb(5, 57, 117);
  height: 600px; 
  width: 100%;
  display: flex;
  padding-top: 5%;
}

.map h3 {
  width: 20em;
  font-size: 24px;
  margin-left: 20px;
  margin-top: 5%;
  text-align: right;
}

.map > div {
  width: 50%;
}

.map * {
  box-sizing: border-box;
}

.preview {
  position: relative;
}

.directions {
  margin-right: 20px;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 50%;
  height: 70%;
}

.footer {
  background:rgb(20, 20, 20);
  height: 100px;
  width: 100%;
  display: flex;
  padding-top: 1%;
}

.footer h3 {
  margin-top: 2%;
  margin-left: 5%;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block; 
  height: 10px;
  line-height: 1%px; 
}

.footer h3 a {
  color: #fff;
}