html, body {
    margin: 0;
    padding: 0;
}
  
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

html {
  height: 100%;
  width: 100%;
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    min-height: 100%;
    min-width: 100%;
}
  
.container {
    margin: 0 auto;
    /* max-width: 1400px;  */
    padding: 0 10px;
}
  
.header {
    background: linear-gradient(to bottom, rgba(18, 46, 202, 0.52), rgba(7, 49, 104, 0.73)), url(../assets/spine.jpg) no-repeat center center; 
    background-size: cover;
    height: 100vh;
    text-align: right; 
    display: flex;
}

.header .container {
    position: relative;
    top: 25vh;
    height: 75vh;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.header h1 {
  color: #fff;
  line-height: 8vw; 
  font-size: 8vw;
  margin-top: 0;

  margin-bottom: 5%;
  text-transform: uppercase; 
}

.header h2 {
  color: #fff;
  font-size: 3vw;
  font-weight: 600;
  letter-spacing: 0.1vw;
  margin-bottom: 0.5vh;
  margin-top: 1vh;
  text-transform: uppercase; 
}

h3 {
  color: #fff;
  line-height: 25px;
  letter-spacing: 3px;
  font-size: 15px;
  margin-top: 150px;
  margin-bottom: 100px;
  margin-right: 20px;
  text-transform: uppercase;
}

@media (min-width:8vw) {
  .header h1 {
    font-size: 8vw;
  }
}


.nav { 
  background: #000;
  height: 80px; 
  width: 100%;
}

.nav ul {
  height: 80px;
  list-style: none;
  margin: 0 auto; 
  padding: 0;
}

.nav ul li {
  color: #fff;
  font-weight: 500;
  font-size: min(4vh, 4vw);
  letter-spacing: 0.1vw;
  display: inline-block; 
  /* flex-wrap: nowrap; */
  /* height: 50px; */
  line-height: 80px; 
  list-style: none;
  padding: 0 4vw;
  transition: background .5s; 
}

.nav ul li:hover {
  background: #117bff;
  cursor: pointer; 
  transition: background .5s;  
}

.contact {
  background:rgb(20, 20, 20);
  height: 40vh;
  width: 100%;
  display: flex;
  padding-top: 10vh;
}

.contact .container {
  flex: 1 1 auto;
  position: relative;
  height: 35vh;
}

.contact h2 {
  color: #fff;
  font-weight: 500;
  font-size: 4vh;
  letter-spacing: 0.2vw;
  height: 12vh;
  line-height: 5vh; 
  text-align: center;
}

.map {
  background: rgb(5, 57, 117);
  height: 60vh; 
  width: 100%;
  display: flex;
  padding-top: 5%;
}

.map h3 {
  width: 20em;
  font-size: 3vw;
  margin-left: 1vw;
  letter-spacing: 0.75vw;
  line-height: 3vw;
  margin-top: 1.25vw;
  text-align: end;
}

.map > div {
  width: 50%;
}

.map * {
  box-sizing: border-box;
}

.map iframe {
  width: 50vw;
  height: 50vh;
}

.preview {
  position: relative;
}

.directions {
  margin-right: 20px;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 50%;
  height: 70%;
}

.footer {
  background:rgb(20, 20, 20);
  height: 20vw;
  min-height: 3vw;
  width: 100%;
  display: flex;
  padding-top: 1vw;
  flex: 1 1 auto;
}

.footer h3 {
  margin-top: 2%;
  margin-left: 5%;
  color: #fff;
  font-weight: 500;
  font-size: 2.5vw;
  letter-spacing: 0.1vw;
  height: 20vh;
  line-height: 2.5vw; 
  text-transform: none;

}

.footer .container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

}


.credits {
  background:rgb(20, 20, 20);
  height: 10vw;
  min-height: 15vw;
  width: 100%;
  display: flex;
  padding-top: 1vw;
  flex: 1 1 auto;
}

.credits h3 {
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 2%;
  color: #fff;
  font-weight: 500;
  font-size: 1.75vw;
  letter-spacing: 0.1vw;
  text-transform: none;
  display: inline-block; 
  height: 15vh;
  line-height: 3vh; 
}

.credits h3 a {
  color: #fff;
}

.credits .container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}